.u-section-1 {
  background-image: url("images/default-image.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1351px;
}

.u-section-1 .u-text-1 {
  width: 580px;
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 580px;
  font-weight: 400;
  margin: 10px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 44px 199px 0 243px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 164px;
  min-width: 68px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 0 auto 0 478px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-image-1 {
  width: 49px;
  height: 49px;
  margin: -49px auto 0 486px;
}

.u-section-1 .u-image-2 {
  width: 49px;
  height: 49px;
  margin: 18px auto 0 605px;
}

.u-section-1 .u-image-3 {
  width: 48px;
  height: 48px;
  margin: -48px auto 0 486px;
}

.u-section-1 .u-image-4 {
  width: 65px;
  height: 65px;
  margin: -57px auto 0 597px;
}

.u-section-1 .u-image-5 {
  width: 49px;
  height: 49px;
  margin: -56px auto 0 545px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 59px auto 0 485px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 40px auto 0 223px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 30px auto 60px 230px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 99px;
    margin-left: 143px;
    width: 654px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 378px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -127px;
    margin-left: 457px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 90px;
    margin-left: 376px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -120px;
    margin-left: 457px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 497px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -48px;
    margin-left: 516px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 51px;
    margin-left: 368px;
    padding: 10px 170px 10px 169px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -15px;
    margin-left: 123px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 136px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 268px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 156px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 387px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 258px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    width: 540px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 188px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 462px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 462px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 224px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 491px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -77px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -77px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 56px;
  }

  .u-section-1 .u-image-1 {
    width: 50px;
    height: 50px;
    animation-duration: 1000ms;
    margin-top: 7px;
    margin-right: 120px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    animation-duration: 1000ms;
    margin-top: -47px;
    margin-left: 56px;
  }

  .u-section-1 .u-image-3 {
    animation-duration: 1000ms;
    margin-top: -50px;
    margin-left: 230px;
  }

  .u-section-1 .u-image-4 {
    animation-duration: 1000ms;
    margin-top: -113px;
    margin-left: 219px;
  }

  .u-section-1 .u-image-5 {
    width: 48px;
    height: 48px;
    animation-duration: 1000ms;
    margin-top: 2px;
    margin-left: 114px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-left: 20px;
    padding-left: 95px;
    padding-right: 95px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 13px;
    margin-left: 13px;
    padding: 24px 30px 25px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-left: 13px;
    padding: 23px 12px;
  }
}