.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/default-image.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 844px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 106px;
  min-width: 42px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 108px auto 0 461px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-image-1 {
  width: 49px;
  height: 49px;
  margin: -48px auto 0 574px;
}

.u-section-1 .u-image-2 {
  width: 48px;
  height: 48px;
  margin: -48px auto 0 631px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 143px auto 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 19px auto 0 223px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 30px auto 60px 230px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 384px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 314px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -49px;
    margin-left: 509px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 119px;
    margin-left: 377px;
    padding: 10px 170px 10px 169px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -15px;
    margin-left: 132px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 226px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 311px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 447px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 95px;
    margin-left: 261px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 70px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 314px;
    margin-left: 344px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 423px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -139px;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -77px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -77px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 131px;
    margin-left: 117px;
  }

  .u-section-1 .u-image-1 {
    width: 50px;
    height: 51px;
    animation-duration: 1000ms;
    margin-top: -107px;
    margin-right: 291px;
    margin-left: 118px;
  }

  .u-section-1 .u-image-2 {
    animation-duration: 1000ms;
    margin-left: 174px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 346px;
    margin-left: 20px;
    padding-left: 95px;
    padding-right: 95px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 13px;
    margin-left: 13px;
    padding: 24px 30px 25px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-left: 13px;
    padding: 23px 12px;
  }
}