.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/default-image.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 844px;
}

.u-section-1 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 106px;
  min-width: 42px;
  white-space: nowrap;
  animation-duration: 1000ms;
  margin: 162px auto 0 393px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-image-1 {
  width: 49px;
  height: 49px;
  margin: -49px auto 0 338px;
}

.u-section-1 .u-image-2 {
  width: 49px;
  height: 49px;
  margin: -48px auto 0 631px;
}

.u-section-1 .u-image-3 {
  width: 48px;
  height: 48px;
  margin: -48px auto 0 513px;
}

.u-section-1 .u-image-4 {
  width: 65px;
  height: 65px;
  margin: -57px auto 0 565px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 70px auto 0 519px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 27px auto 0 232px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  font-size: 1.875rem;
  box-shadow: 2px -2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
  border-style: none;
  margin: 30px auto 0 239px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  font-size: 1rem;
  margin: 75px 228px 60px 214px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 406px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -127px;
    margin-left: 485px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 90px;
    margin-left: 404px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -120px;
    margin-left: 485px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 525px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 122px;
    margin-left: 377px;
    padding: 10px 170px 10px 169px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -15px;
    margin-left: 132px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 145px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 128px;
    margin-left: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 276px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 465px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 196px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 497px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 427px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 87px;
    margin-left: 261px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 29px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 124px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 398px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 15px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 477px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 239px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -147px;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -77px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -77px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-bottom: 26px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 111px;
    margin-left: 89px;
  }

  .u-section-1 .u-image-1 {
    width: 50px;
    height: 51px;
    animation-duration: 1000ms;
    margin-top: -107px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-2 {
    animation-duration: 1000ms;
    margin-top: -52px;
    margin-left: 146px;
  }

  .u-section-1 .u-image-3 {
    animation-duration: 1000ms;
    margin-top: 11px;
    margin-left: 203px;
  }

  .u-section-1 .u-image-4 {
    animation-duration: 1000ms;
    margin-top: -114px;
    margin-left: 194px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 357px;
    margin-left: 20px;
    padding-left: 95px;
    padding-right: 95px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 13px;
    margin-left: 13px;
    padding: 24px 30px 25px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-left: 13px;
    padding: 23px 12px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 1.125rem;
    width: auto;
    margin-top: -507px;
    margin-bottom: 60px;
  }
}